
  .bg-green {
    background-color: $primary-color;
  }
  
  .border-top {
    border-top: 1px solid $secondary-color;
  }
  .border-bottom {
    border-bottom: 1px solid $secondary-color;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(4, 90, 37, 0.05);
  }
  