@{
    Layout = "";
}
@model ReactCore.Models.DemoModel;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/dist/bundle.css" asp-append-version="true" />
    <style>
        body{padding: 0; margin: 0;}
        .cont {
            position: relative;
        }
        .copy {
            position: absolute;
            top: 50px;
            color: #fff;
            width: 900px;
            font-size: 4rem;
            margin: 0 2rem;
        }
    </style>
</head>
<body>
    @Model.ImageUrl 
    <div class="cont">
        <div class="img">
            <img src=@Model.ImageUrl />
        </div>
        <div class="copy">
            <p>@Model.Message </p>
        </div>

    </div>
</body>
</html>
