@{
    ViewData["Title"] = "Generator";
}
<section>
<h1 class="display-4">@ViewData["Title"]</h1>

<p>Generator</p>

    <div id="p_Generator" data-name="Generator Sample" class="__react-root"></div>

@* <img id="demoImg" /> *@
</section>

