@{
    ViewData["Title"] = "Generator";
}
<section>
<h1 class="display-4">@ViewData["Title"]</h1>

<div id="p_Generator" data-name="Using Puppeteer and gRPC" class="__react-root"></div>

@* <img id="demoImg" /> *@
</section>

