@{
    ViewData["Title"] = "Web Worker";
}
<section>
<h1 class="display-4">@ViewData["Title"]</h1>

<p>Web Worker vs Direct access</p>

<div id="ww_WebWorker" data-name="Countdown Clocks" class="__react-root"></div>

</section>