  /* Sticky footer styles
  -------------------------------------------------- */
  html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }

    /* Sticky footer styles
  -------------------------------------------------- */
  html {
    position: relative;
    min-height: 100%;
  }
  
  body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
  }

  .component {
    border: 1px solid $secondary;
    padding: 1rem;
  }

  .bg-green {
    background-color: $primary;
  }
  
  .border-top {
    border-top: 1px solid $secondary;
  }
  .border-bottom {
    border-bottom: 1px solid $secondary;
  }
  
  .box-shadow {
    box-shadow: 0 .25rem .75rem rgba(4, 90, 37, 0.05);
  }
  