@{
    ViewData["Title"] = "Animation";
}
<section>
<h1 class="display-4">@ViewData["Title"]</h1>


    <div id="a_Animation" data-name="My Animation" class="__react-root"></div>

</section>
@section Scripts {

    <script>
        console.log('animation view loaded');
        //https://scrollmagic.io/
        //https://greensock.com/gsap
    </script>
}